<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Solar System</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="container-md col-md-12 my-body">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">
        <a class="navbar-brand my-brand" href="#"><img id="sun-img" src="/img/sun.png" alt="The sun"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/mercury">Mercury</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/venus">Venus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/earth">Earth</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>


