<%- include("partials/header.ejs") %>

<h1>Welcome to Earth</h1>
<figure class="text-center">
  <img src="/img/earth.jpg" alt="Image of Earth" />
</figure>
<h2>Facts about Earth</h2>
<ul class="facts">
  <li>Earth is the third planet from the sun.</li>
  <li>It is 94,494,689 miles from the sun (or 1 AU).</li>
  <li>1 day on Earth is about 23.9 hours.</li>
  <li>One revolution takes about 365.25 days</li>
  <li>Earth has one Moon.</li>
  <li>Earth radius is 3,959 miles.</li>
  <li>Earth's surface is made up of 70% water.</li>
  <li>
    It is the only planet (that we know of) that is host to many different forms
    of life.
  </li>
</ul>

<%- include("partials/footer.ejs") %>
