<%- include("partials/header.ejs") %>
<!--prettier-ignore-->
<h1>Welcome to the Solar System Site!</h1>
<div class="content container-md">
  <figure class="text-center">
    <img src="/img/solar_system.jpg" alt="The Solar System" />
  </figure>
  <p>
    The Solar System is home to the human race. In their many years of
    exploration, they have only been able to tap into a small amount of the
    knowledge the cosmos offers. However, they know more about what is in space
    than they know of what is in their oceans! In their defense, it’s much
    easier to deal with low pressure situations than extremely high-pressure
    situations like the ones found under the deep ocean, but I digress. Click
    through the different plants to learn a few fun facts in the menu above!
  </p>
</div>
<%- include("partials/footer.ejs") %>
