<%- include("partials/header.ejs") %>

<h1>Welcome to Venus</h1>
<div class="content container-md">
  <figure class="text-center">
    <img src="/img/mars.png" alt="Image of Mars" />
  </figure>
  <h2>Facts about Mars</h2>
  <ul class="facts">
    <li>Mars is the fourth planet from the sun.</li>
    <li>One solar revolution takes approximately 660 Earth days (sols).</li>
    <li>One rotation takes 24.6 hours.</li>
    <li>Mars has two moons Phobos and Deimos.</li>
    <li>Mars has a radius of 2,106 miles</li>
    <li>Mars appears mostly red due to oxidation of iron in the rocks.</li>
    <li>Temeratures on Mars range from -225&degF to 70&degF.</li>
  </ul>
</div>

<%- include("partials/footer.ejs") %>
