<%- include("partials/header.ejs") %>

<h1>Welcome to Mercury</h1>
<div class="content container-md">
  <figure class="text-center">
    <img src="/img/mercury.png" alt="Image of Mercury" />
  </figure>
  <h2>Facts about Mercury</h2>
  <ul class="facts">
    <li>It it is the first planet from the sun.</li>
    <li>Mercury is 2.6 times smaller than Earth.</li>
    <li>One day on Mercury lasts 176 Earth days.</li></li>
    <li>One revolution around the sun takes 88 Earth days.</li>
    <li>Its radius is 1,516 miles.</li>
    <li>Mercury does not have any moons.</li>
    <li>Temperatures on the surface range between 800&degF to -290&degF.</li>
    <li>
      It is about 0.4 AU away from the sun (for reference 1 AU is the Earth
      distance from the sun).
    </li>
  </ul>
</div>

<%- include("partials/footer.ejs") %>
