<%- include("partials/header.ejs") %>

<h1>Welcome to Venus</h1>
<figure class="text-center">
  <img src="/img/venus.jpg" alt="Image of Venus" />
</figure>
<h2>Facts about Venus</h2>
<ul class="facts">
  <li>Venus is the second planet from the sun.</li>
  <li>One day on Venus is equivalent to 243 Earth Days.</li>
  <li>One solar revolution takes 225 Earth days.</li>
  <li>Its radius is 3,760 miles.</li>
  <li>
    Surface temperature can reach 880&deg F (which is hotter than Mercury!).
  </li>
  <li>
    Venus is about 0.7 AU from the sun (for reference 1 AU is the Earth distance
    from the sun).
  </li>
  <li>Venus rotates backwards compared to Earth.</li>
</ul>

<%- include("partials/footer.ejs") %>
